<section class="none">
<h4>Sorry It seems nothing matchd the term: <%= term %></h4>
<h5>Check out other cities or check another time</h5>
<span><i class="fas fa-heart-broken fa-5x"></i></span>
<a style="text-decoration: none;color:white;" href="/"><p id="navcircles"> Go try Again</p></a>
</section>